<form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="col-12">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                {{ form.year.label }}
                {{ form.year(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                {{ form.genre.label }}
                {{ form.genre(class="form-control") }}
            </div>
        </div>
        <div class="form-group form-check">
            <div class="col-12">
                {{ form.status }}
                {{ form.status(class="form-check-input") }}
                {{ form.status.label(class="form-check-label") }}
            </div>
        </div>
        
        <button class="btn btn-primary ml-3">Submit</button>
    </form>